*{
  margin:0px;
  font-family:Arial, Helvetica, sans-serif,freesans;
 }

@media (min-width:700px)
{
.fixed-width{width:1050px;
  margin:0 auto;
  }

.top-bar{height:40px;
  width:100%;
  background-color:white;
  color:black;
  }

.logo{padding-top:5px;
  float:left;
  padding-right:5px;
  padding-bottom:7px;
  border-right:1px solid black;
  }

.signup{float:left;
  padding-top:10px;
  padding-left:5px;
  font-weight:bold;
  font-size:18px;
  border-right:1px solid black;
  padding-right:40px;
  padding-bottom:10px;
  }

.top-bar ul li{float:left;
  display:inline;
  padding-top:10px;
  padding-left:5px;
  font-weight:bold;
  font-size:18px;
  border-right:1px solid black;
  padding-right:15px;
  padding-bottom:10px;
  list-style-type:none;
}
  .top-bar ul li:hover{
    background-color:orange;
  }
    
  

form{float:left;
  padding-top:10px;
  padding-left:15px;
  }

.news-bar{height:60px;
  width:100%;
  background-color:#bb1919;
  color:white;
  }

.news-logo{float:left;
  font-size:50px;
  font-weight:bold;
  }

.info-bar{height:30px;
  width:100%;
  background-color:#bb0019;
  color:white;
  }

.info-bar ul li{
  float:left;
  display:inline;
  border-right:1px solid white;
  padding-right:10px;
  padding-left:10px;
  list-style-type:none;
 }
  .info-bar ul li:hover{
    background-color:orange;
  }

.location-bar{height:40px;
  width:100%;
  background-color:white;
  color:black;
  }

.location-bar ul li{float:left;
  display:inline;
  border-right:1px solid black;
  padding-right:10px;
  padding-left:10px;
  list-style-type:none;
  
}
  .location-bar ul li:hover{
    background-color:orange;
  }

.para-heading{font-size:30px;
  float:left;
 }

.para-main{float:left;
  
  color:#374760;
  }
.hardik:{float:left;
  }

.content:{float:left;
  }
  .universe{font-size:20px;
  float:left;
  }
  .uni-qu:{float:left;
    
  }
  footer{background-color:#51b8fb;
  padding:10px;
       width:100%;
       height:20px;
  bottom:0px;
  align="center;"
  }
  footer p:{color:white;
    
  }
  
}

@media (max-width:700px){
  .top-bar{text-align:center;
    height:150px;
    width:100%;
   background-color:white;
   color:black;
   }
  
  .logo{padding-top:5px;
  float:left;
  padding-right:10px;
  padding-bottom:7px;
  border-right:1px solid black;
  }
  
  .signup{float:left;
  padding-top:10px;
  padding-left:4px;
  font-weight:bold;
  font-size:13px;
  border-right:1px solid black;
  padding-right:5px;
  padding-bottom:10px;
  }
  
  .top-bar ul li{float:left;
  display:inline;
  padding-top:10px;
  padding-left:4px;
  font-weight:bold;
  font-size:13px;
  border-right:1px solid black;
  padding-right:5px;
  padding-bottom:10px;
}
  .top-bar ul li:hover{
    background-color:orange;
  }
  form{float:left;
  padding-top:10px;
  padding-left:10px;
  }
  .news-bar{height:60px;
  width:100%;
  background-color:#bb1919;
  color:white;
  }
  .news-logo{float:left;
  font-size:50px;
  font-weight:bold;
  }
  .info-bar{height:90px;
  width:100%;
  background-color:#bb0019;
  color:white;
  }
  .info-bar ul li{  
  float:left;
  display:inline;
  border-right:1px solid white;
  padding-right:10px;
  padding-left:10px;
  list-style-type:none;
 }
  .info-bar ul li:hover{
    background-color:orange;
  }
  .location-bar{height:90px;
  width:100%;
  background-color:yellow;
  color:black;
  }
  .location-bar ul li{float:left;
  display:inline;
    padding-top:5px;
  border-right:1px solid black;
  padding-right:10px;
  padding-left:10px;
  list-style-type:none;
  }
  .location-bar ul li:hover{
    background-color:orange;
  }
  .hardik:{float:left;
    padding-top:10px;
  }
  .para-heading{font-size:25px;
  float:left;
    padding:5px;
  }
  
  .para-main:{float:left;
  color:#374760;
    padding:10px;
  }
   
}

